
.all{
    background-color: #211f1f;
    padding: 10px;
    border-radius: 5px;
    /* max-width: 300px; */
    width: max-content;
    cursor: pointer;
    transition: all ease-out .23s;
}

.all:hover{
    background-color: #444242;
    
}
